* { 
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

.page h1 { 
  margin: 1rem;
  font-size: 2rem;
  font-weight: bolder;  
  color: #2B2D42;

  padding: 1rem;
  background-color: #EDF2F4;
}

.home h1 { 
    background-color: white;
}

.home-page  {
  margin-top: 3rem; 
  padding: 10rem;
  border: 10px solid #2b2d42;

  outline: 10px solid #ef233c;
  outline-offset: 5px;
  border-radius: 10px;
}

/* Not found */
.not-found-page { 
  height: calc(100vh - 10vh);
/*   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
}

.not-found-elements { 
  position: absolute;
  left: 50%; 
  top: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.not-found { 
  font-size: 4rem;
  color:#2B2D42;
}